<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
<img src="../public/images/logo-mercado-liebre.svg">
<p> Lugar para poner la barra de búsqueda</p>
<p>Comprá en cuotas y sin tarjeta de crédito</p>
    <ul>
        <li href="#">Ofertas</li>
        <li href="#">Tiendas Oficiales</li>
        <li href="'#">Vender</li>
        <li href="'#">Ayuda</li>
    </ul>
    <ul>
        <li href="#">Creá tu cuenta</li>
        <li href="#">Ingresá</li>
        <li href="'#">Mis compras</li>
        </ul>

</header>
    <main>

    </main>
    <footer>

    </footer>
    
</body>
</html>