<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="<link rel=" preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8d886df13f.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <div class="header-superior">
            <img class="Logo" src="/images/logo-mercado-liebre.svg" width="30%" alt="Logo">
            <div class="buscador">
                <div class="input"> <label for="Buscar"></label>
                    <input type="text" name="Buscar" id="Buscar" placeholder="Buscar producos, marca"></div>
                <div class="icon-buscador"><i class="fa fa-search"></i></div></div>
                <div class="formasdepago"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de
                    crédito</div>
            
        </div>
        <nav class="nav-bar">
            <ul class="compras">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="cuenta">
                <li>
                    <a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="productos">
                <article> <img src="/images/img-cafetera-moulinex.jpg" width="360px" alt="Cafetera">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article><img src="/images/img-macbook-pro-2019.jpg" width="360px" alt="MacBook">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article><img src="/images/img-samsung-galaxy-s10.jpg" width="360px"
                        alt="Teléfono Móvil Samsung Galaxy">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article> <img src="/images/img-tv-samsung-smart.jpg" width="360px" alt="SmartTv Samsung">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h3 class="titulares">Ofertas</h3>
            <div class="productos">
                <article> <img src="/images/img-cafetera-moulinex.jpg" width="360px" alt="Cafetera">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article><img src="/images/img-macbook-pro-2019.jpg" width="360px" alt="MacBook">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article><img src="/images/img-samsung-galaxy-s10.jpg" width="360px"
                        alt="Teléfono Móvil Samsung Galaxy">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article> <img src="/images/img-tv-samsung-smart.jpg" width="360px" alt="SmartTv Samsung">
                    <div class="product-info"><i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer">
        <div>
            <div class="icon-footer"><i class="fas fa-credit-card"></i></div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </div>
        <div>
            <div class="icon-footer"><i class="fas fa-gift"></i></div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de
                Mercado Puntos.
            </p>
        </div>
        <div>
            <div class="icon-footer"><i class="fas fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p >
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </div> </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   
    </footer>
</body>

</html>