<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
        <p> Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Creá tu cuenta</a>
                </li>
                <li>
                    <a href="#">Ingresá</a>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                </li>
            </ul>
        </nav>

    </header>
    <main>

    </main>
    <footer>

    </footer>

</body>

</html>