h2.cuenta {
    text-align: center;
    font-size: 24px;
    width: 100%;

}
main {
   
    height: 150vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: 5% 20%;
     border-radius: 5px;
    border: solid 1 px grey;
}


input[type="text"],
input[type="password"],
input[type="date"] {
    width: 70%;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    transition: all 0.5s;
}

input[type="text"]:focus {
    border: 5px groove grey;
}

input[type="password"]:focus {
    border: 5px groove grey;
}
input[type="date"]:focus {
    border: 5px groove grey;
}

input {
    margin: 15px;
    padding: 10px;
}

input[type="checkbox"]{
      margin: 20px 5px;
      padding: 5px;
}

input[type="radio"] {
    width: 5%;
    margin: 5% 2%;
    text-align: center;
    padding: 20px;
    
}
  
  
input[type="radio"]+label {
    width: 20px;
    height: 20px;
    margin: 15px;
    font-weight: normal;
}

h4.form {
    margin: 15px;
    font-weight: bold;
    font-size: 15px;
}


button[type="submit"] {
    width: 70%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 15px;
    transition: all 0.3s;
}

button[type="reset"] {
    width: 70%;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 15px;
}

button.icon-buscador {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button[type="submit"]:hover {
    background-color: #0022AA;
    border: 2px inset #0022AA;
}

