@import "reg.css";
@import "login.css";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris-claro);
}

header {
    background-color: var(--amarillo);
}

.header-superior {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
}

.buscador {
    padding: 5px;
    width: 50%;
    display: flex;
    align-items: center;

}

/*.input {
    background-color: #FFF;
    color: var(--gris-oscuro);
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 50%;
    flex-grow: 1;
}*/
div.input{
    width: 70%;
}

.icon-buscador {
    background-color: #FFF;
    color: var(--gris-oscuro);
    padding: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

header ul li {
    list-style-type: none;

}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.compras {
    display: flex;
}

.cuenta {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

h3.titulares {
    font-size: 24px;
}

p.precio {
    font-size: 18px;
    width: 30%;
    text-align: left;
}

p.descuentos {
    font-size: 16px;
    width: 70%;
    color: #39b54a;
    text-align: right;
}

h4.descripciones {
    font-size: 16px;
    display: none;
}

main {
    width: 90vw;
    margin: auto;
}

.burger-menu {
    text-align: center;

}

.burger-menu i {
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 20px 0;
}

.formasdepago {
    text-align: center;
    width: 80%;
    padding: 30px 10px 5px;


}

.logo {
    width: 50%;
    padding: 5px;

}
.footer{
    background-color: white;
   
}
.icon-footer {
    color: rgb(5, 5, 188);
    font-size: 2em;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;

}
.footer div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    
}

.footer h4 {
    text-align: center;
    font-weight: bold;
}

.footer p{
    text-align: center;
}


article img {
    width: 100%;

}

.productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    margin-bottom: 10px;
    background-color: white;
    width: 80%;

}
article:hover .descripciones{
display: block;
}

article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article:hover .fa-truck{
    transform: rotate(-90deg);
}
.product-info {
    border-top: solid 1px #ebebeb;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    align-items: center;
    transition: all 0.5s;
}

.product-info i {
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: 15px;
    padding: 20px;
    border-radius: 5px;
    border: solid 1 px grey;


}
input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 15px;
    border: 1px  #ccc;
    border-radius: 5px;

}





@media (min-width: 361px) {
   
    article {
        width: 40%;

    }

    .productos {
        justify-content: space-around;
    }

    .nav-bar {
        display: none;
    }

}




@media (min-width: 769px) {
    .burger-menu i {
        display: none;
    }

    article {
      
        width: 20%;
        justify-content: space-between;
    }

    .nav-bar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        justify-content: space-around;
        padding: 15px;
    }

    header nav ul {
        width: 50%;
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    header nav ul:nth-child(1) {
        padding-left: 64px;
    }

    header nav ul:nth-child(2) {
        justify-content: flex-end;
        padding-right: 64px;
    }

    .formasdepago {
        padding: 45px 35px 40px;
        width: 35%;

    }

    .logo {
        width: 35%;
    }

    .buscador {
        padding: 15px;
        width: 35%;
        flex-grow: 1;
    }

    .header-superior {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding: 25px;
    }

    .input {
        padding: 5px;
        border-radius: 5px;
        width: 20%;
        flex-grow: 1;
        margin: 2px;
    }

    .icon-buscador {
        background-color: #FFF;
        color: var(--gris-oscuro);
        padding: 5px;
        border-radius: 5px;
        margin: 2px;
    }
    
        
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        
}
.footer div{
    width: 25%;
    align-items: center;
    
   
}
.icon-footer:hover {
    color: skyblue;
    font-size: 2em;
    text-align: center;
    
}
